<!--
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->

<div class="container">
	<h2>My todos</h2>
  
	<div ui-sortable ng-model="todos">
		<p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
			<input type="text" ng-model="todo" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
			</span>
		</p>
	</div>
	
	
	<!--<li ng-repeat="player in players">
		<span>{{player.forename}}</span>
		<span>{{player.surname}}</span>
	</li>
	-->
</div>




<div ng-controller="SortableCtrl" class="container">
	<h2>ui.sortable complex cancel</h2>
	<h3>List #2 can't have more than 10 elements</h3>

	<div class="floatleft">
		<div ui-sortable="sortableOptions" id="screen-{{$index}}" class="apps-container screen floatleft" 
		ng-model="screen" ng-repeat="screen in rawScreens">
			<div class="app" ng-repeat="app in screen">{{$index}} {{app.title}}</div>
		</div>
		<div style="clear: both;"></div>
	</div>
  
	<div class="clear"></div>
  
</div>


<div ng-controller="FplSortableCtrl" class="container">
	<h2>ui.sortable complex cancel</h2>
	<h3>List #2 can't have more than 10 elements</h3>

	<div class="floatleft">
		<div ui-sortable="sortablePoolGoalkeepers" id="poolGoalkeepers" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in poolGoalkeepers">
			<div class="app" ng-repeat="app in screen">{{app.title}}</div>
		</div>
		
		<div ui-sortable="sortablePoolDefenders" id="poolDefenders" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in poolDefenders">
			<div class="app" ng-repeat="app in screen">{{app.title}}</div>
		</div>
		
		<div ui-sortable="sortablePoolMidfielders" id="poolMidfielders" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in poolMidfielders">
			<div class="app" ng-repeat="app in screen">{{app.title}}</div>
		</div>
		
		<div ui-sortable="sortablePoolStrikers" id="poolStrikers" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in poolStrikers">
			<div class="app" ng-repeat="app in screen">{{app.title}}</div>
		</div>
		
		<div style="clear: both;"></div>
	</div>
	
	<div class="floatright">
		<div ui-sortable="sortableSelectedGoalkeepers" id="selectedGoalkeepers" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in teamGoalkeepers">
			<div class="app" ng-repeat="app in screen">{{app.title}}</div>
		</div>
		
		<div ui-sortable="sortableSelectedDefenders" id="selectedDefenders" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in teamDefenders">
			<div class="app" ng-repeat="app in screen">{{app.title}}</div>
		</div>
		
		<div ui-sortable="sortableSelectedMidfielders" id="selectedMidfielders" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in teamMidfielders">
			<div class="app" ng-repeat="app in screen">{{app.title}}</div>
		</div>
		
		<div ui-sortable="sortableSelectedStrikers" id="selectedStrikers" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in teamStrikers">
			<div class="app" ng-repeat="app in screen">{{app.title}}</div>
		</div>
		
		<div style="clear: both;"></div>
	</div>
  
	<div class="clear"></div>
  
</div>