<div ng-controller="FplSortableCtrl" class="container">
	<h2>Search for player: </h2>

	<div class="floatleft">
		<accordion >

			<accordion-group heading="Goalkeepers">
				<div ui-sortable="sortablePoolGoalkeepers" id="poolGoalkeepers" class="apps-container screen" 
				ng-model="screen" ng-repeat="screen in poolGoalkeepers">
					<div class="app" ng-repeat="app in screen">{{app.forename}} {{app.surname}}</div>
				</div>
			</accordion-group>
			
			<accordion-group heading="Defenders">
				<div ui-sortable="sortablePoolDefenders" id="poolDefenders" class="apps-container screen" 
				ng-model="screen" ng-repeat="screen in poolDefenders">
					<div class="app" ng-repeat="app in screen">{{app.forename}} {{app.surname}}</div>
				</div>
			</accordion-group>
			
			<accordion-group heading="Midfielders">
				<div ui-sortable="sortablePoolMidfielders" id="poolMidfielders" class="apps-container screen" 
				ng-model="screen" ng-repeat="screen in poolMidfielders">
					<div class="app" ng-repeat="app in screen">{{app.forename}} {{app.surname}}</div>
				</div>
			</accordion-group>
			
			<accordion-group heading="Strikers">
				<div ui-sortable="sortablePoolStrikers" id="poolStrikers" class="apps-container screen" 
				ng-model="screen" ng-repeat="screen in poolStrikers">
					<div class="app" ng-repeat="app in screen">{{app.forename}} {{app.surname}}</div>
				</div>
			</accordion-group>

		</accordion>
		
		<div style="clear: both;"></div>
	</div>
	
	<div class="floatright">
		<div ui-sortable="sortableSelectedGoalkeepers" id="selectedGoalkeepers" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in teamGoalkeepers">
			<div class="app" ng-repeat="app in screen">{{app.forename}} {{app.surname}}</div>
		</div>
		
		<div ui-sortable="sortableSelectedDefenders" id="selectedDefenders" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in teamDefenders">
			<div class="app" ng-repeat="app in screen">{{app.forename}} {{app.surname}}</div>
		</div>
		
		<div ui-sortable="sortableSelectedMidfielders" id="selectedMidfielders" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in teamMidfielders">
			<div class="app" ng-repeat="app in screen">{{app.forename}} {{app.surname}}</div>
		</div>
		
		<div ui-sortable="sortableSelectedStrikers" id="selectedStrikers" class="apps-container screen" 
		ng-model="screen" ng-repeat="screen in teamStrikers">
			<div class="app" ng-repeat="app in screen">{{app.forename}} {{app.surname}}</div>
		</div>
		
		<div style="clear: both;"></div>
	</div>
  
	<div class="clear"></div>
  	
  	<div id="formSubmit" ng-controller="ServicesCtrl">
  	  	<button class="btn btn-primary"  id="saveTeamButton" ng-click="postTeamSelection()">Save!</button>
  	</div>
</div>	