<div ng-controller="SquadsCtrl">

	<div class="row">
		<div class="col-md-4">
			<h3>{{orderedTeams[0].name}} - £{{orderedTeams[0].cost}}M</h3>
			<div ng-repeat="goalkeeper in orderedTeams[0].goalkeepers">{{goalkeeper.forename}} {{goalkeeper.surname}} - £{{goalkeeper.cost}}M</div> 
			<br>
			<div ng-repeat="defender in orderedTeams[0].defenders">{{defender.forename}} {{defender.surname}} - £{{defender.cost}}M</div> 
			<br>
			<div ng-repeat="midfielder in orderedTeams[0].midfielders">{{midfielder.forename}} {{midfielder.surname}} - £{{midfielder.cost}}M</div> 
			<br>
			<div ng-repeat="striker in orderedTeams[0].strikers">{{striker.forename}} {{striker.surname}} - £{{striker.cost}}M</div> 
		</div>

		<div class="col-md-4">
			<h3>{{orderedTeams[1].name}} - £{{orderedTeams[1].cost}}M</h3>
			<div ng-repeat="goalkeeper in orderedTeams[1].goalkeepers">{{goalkeeper.forename}} {{goalkeeper.surname}} - £{{goalkeeper.cost}}M</div> 
			<br>
			<div ng-repeat="defender in orderedTeams[1].defenders">{{defender.forename}} {{defender.surname}} - £{{defender.cost}}M</div> 
			<br>
			<div ng-repeat="midfielder in orderedTeams[1].midfielders">{{midfielder.forename}} {{midfielder.surname}} - £{{midfielder.cost}}M</div> 
			<br>
			<div ng-repeat="striker in orderedTeams[1].strikers">{{striker.forename}} {{striker.surname}} - £{{striker.cost}}M</div> 
		</div>

		<div class="col-md-4">
			<h3>{{orderedTeams[2].name}} - £{{orderedTeams[2].cost}}M</h3>
			<div ng-repeat="goalkeeper in orderedTeams[2].goalkeepers">{{goalkeeper.forename}} {{goalkeeper.surname}} - £{{goalkeeper.cost}}M</div> 
			<br>
			<div ng-repeat="defender in orderedTeams[2].defenders">{{defender.forename}} {{defender.surname}} - £{{defender.cost}}M</div> 
			<br>
			<div ng-repeat="midfielder in orderedTeams[2].midfielders">{{midfielder.forename}} {{midfielder.surname}} - £{{midfielder.cost}}M</div> 
			<br>
			<div ng-repeat="striker in orderedTeams[2].strikers">{{striker.forename}} {{striker.surname}} - £{{striker.cost}}M</div> 
		</div>
	</div>	

	<div class="row">
		<div class="col-md-4">
			<h3>{{orderedTeams[3].name}} - £{{orderedTeams[3].cost}}M</h3>
			<div ng-repeat="goalkeeper in orderedTeams[3].goalkeepers">{{goalkeeper.forename}} {{goalkeeper.surname}} - £{{goalkeeper.cost}}M</div> 
			<br>
			<div ng-repeat="defender in orderedTeams[3].defenders">{{defender.forename}} {{defender.surname}} - £{{defender.cost}}M</div> 
			<br>
			<div ng-repeat="midfielder in orderedTeams[3].midfielders">{{midfielder.forename}} {{midfielder.surname}} - £{{midfielder.cost}}M</div> 
			<br>
			<div ng-repeat="striker in orderedTeams[3].strikers">{{striker.forename}} {{striker.surname}} - £{{striker.cost}}M</div> 
		</div>

		<div class="col-md-4">
			<h3>{{orderedTeams[4].name}} - £{{orderedTeams[4].cost}}M</h3>
			<div ng-repeat="goalkeeper in orderedTeams[4].goalkeepers">{{goalkeeper.forename}} {{goalkeeper.surname}} - £{{goalkeeper.cost}}M</div> 
			<br>
			<div ng-repeat="defender in orderedTeams[4].defenders">{{defender.forename}} {{defender.surname}} - £{{defender.cost}}M</div> 
			<br>
			<div ng-repeat="midfielder in orderedTeams[4].midfielders">{{midfielder.forename}} {{midfielder.surname}} - £{{midfielder.cost}}M</div> 
			<br>
			<div ng-repeat="striker in orderedTeams[4].strikers">{{striker.forename}} {{striker.surname}} - £{{striker.cost}}M</div> 
		</div>

		<div class="col-md-4">
			<h3>{{orderedTeams[5].name}} - £{{orderedTeams[5].cost}}M</h3>
			<div ng-repeat="goalkeeper in orderedTeams[5].goalkeepers">{{goalkeeper.forename}} {{goalkeeper.surname}} - £{{goalkeeper.cost}}M</div> 
			<br>
			<div ng-repeat="defender in orderedTeams[5].defenders">{{defender.forename}} {{defender.surname}} - £{{defender.cost}}M</div> 
			<br>
			<div ng-repeat="midfielder in orderedTeams[5].midfielders">{{midfielder.forename}} {{midfielder.surname}} - £{{midfielder.cost}}M</div> 
			<br>
			<div ng-repeat="striker in orderedTeams[5].strikers">{{striker.forename}} {{striker.surname}} - £{{striker.cost}}M</div> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h3>{{orderedTeams[6].name}} - £{{orderedTeams[6].cost}}M</h3>
			<div ng-repeat="goalkeeper in orderedTeams[6].goalkeepers">{{goalkeeper.forename}} {{goalkeeper.surname}} - £{{goalkeeper.cost}}M</div> 
			<br>
			<div ng-repeat="defender in orderedTeams[6].defenders">{{defender.forename}} {{defender.surname}} - £{{defender.cost}}M</div> 
			<br>
			<div ng-repeat="midfielder in orderedTeams[6].midfielders">{{midfielder.forename}} {{midfielder.surname}} - £{{midfielder.cost}}M</div> 
			<br>
			<div ng-repeat="striker in orderedTeams[6].strikers">{{striker.forename}} {{striker.surname}} - £{{striker.cost}}M</div> 
		</div>

		<div class="col-md-4">
			<h3>{{orderedTeams[7].name}} - £{{orderedTeams[7].cost}}M</h3>
			<div ng-repeat="goalkeeper in orderedTeams[7].goalkeepers">{{goalkeeper.forename}} {{goalkeeper.surname}} - £{{goalkeeper.cost}}M</div> 
			<br>
			<div ng-repeat="defender in orderedTeams[7].defenders">{{defender.forename}} {{defender.surname}} - £{{defender.cost}}M</div> 
			<br>
			<div ng-repeat="midfielder in orderedTeams[7].midfielders">{{midfielder.forename}} {{midfielder.surname}} - £{{midfielder.cost}}M</div> 
			<br>
			<div ng-repeat="striker in orderedTeams[7].strikers">{{striker.forename}} {{striker.surname}} - £{{striker.cost}}M</div> 
		</div>

		<div class="col-md-4">
			<h3>{{orderedTeams[8].name}} - £{{orderedTeams[8].cost}}M</h3>
			<div ng-repeat="goalkeeper in orderedTeams[8].goalkeepers">{{goalkeeper.forename}} {{goalkeeper.surname}} - £{{goalkeeper.cost}}M</div> 
			<br>
			<div ng-repeat="defender in orderedTeams[8].defenders">{{defender.forename}} {{defender.surname}} - £{{defender.cost}}M</div> 
			<br>
			<div ng-repeat="midfielder in orderedTeams[8].midfielders">{{midfielder.forename}} {{midfielder.surname}} - £{{midfielder.cost}}M</div> 
			<br>
			<div ng-repeat="striker in orderedTeams[8	].strikers">{{striker.forename}} {{striker.surname}} - £{{striker.cost}}M</div> 
		</div>
	</div>
</div