<div id="header">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 loginForm">
        <div class="strapline">
          THE ONLY FANTASY GAME WHERE YOU REALLY ARE THE MANAGER
        </div>

        <form class="form-horizontal" role="form">
          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <label class="col-sm-4 control-label">USERNAME</label>

                <div class="col-sm-8 form-input-item">
                	<input id="username" data-ng-model="username" type="text" class="form-control" focus="true" required />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">PASSWORD</label>

                <div class="col-sm-8 form-input-item">
                  	<input id="password" data-ng-model="password" type="password" class="form-control" required />
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              	<input type="image" src="images/submitButton.png" alt="Login" data-ng-click="login()"/>
            </div>

          </div>
        </form>         
      </div>

      <div class="col-lg-4">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">         
          <!-- slides -->
          <div class="carousel-inner">
          <div class="item active">
            <img src="images/fergie.png" alt="">
          </div>
        </div>
      </div>    
    </div>

    </div>
  </div>
</div>

<div class="container infoBoxesParent">

  <div class="row infoBoxes">
    <div class="col-md-4 col-sm-4">
      <a href='#'><img src="images/howToPlay.png" class="feature-photo"></a>
    </div>
    <div class="col-md-4 col-sm-4">
      <a href='#'><img src="images/scoutingCentre.png" class="feature-photo"></a>
    </div>
    <div class="col-md-4 col-sm-4">
      <a href='#'><img src="images/faqs.png" class="feature-photo"></a>
    </div>
  </div> <!-- /.row -->

   <!-- /.row -->
</div> <!-- /.container -->